{% extends "layout.html" %}
{% block content %}
	<div class="well">
	  <div class="text-center">
	<div class="btn-group" style="padding-bottom: 1%;">
	  <button type="button" class="btn btn-default active" id="shared">Shared Classes</button>
	  <button type="button" class="btn btn-default" id="free">Free Time</button>
	</div>
	<div id="calendar"></div>
	<!-- <a class="download_link">Download now</a> -->
	  </div>
	</div>
  </div>
{% endblock %}
{% block scripts %}
	<link rel="stylesheet" href="/static/css/fullcalendar.css">
	<script type="text/javascript" src="/static/js/vendor/fullcalendar.min.js"></script>
	<script>
	  $(document).ready(function() {
	  // page now ready
	  nate = [{{ shared | safe }}]
	  furp = [{{ free | safe }}]

		$('#free').click(function() {
			$('#calendar').fullCalendar( 'removeEventSource', nate);
			$('#calendar').fullCalendar( 'addEventSource', furp);
			$('#shared').removeClass('active');
			$('#free').addClass('active');
		})
		$('#shared').click(function() {
			$('#calendar').fullCalendar( 'removeEventSource', furp);
			$('#calendar').fullCalendar( 'addEventSource', nate);
			$('#shared').addClass('active');
			$('#free').removeClass('active');
		})
		// $('.download_link').click(function() {
		// 	$('#calendar').css({
		// 		'font-size': '20px',
		// 		font-family: 'Open Sans'
		// 	})
		// })
		$('#calendar').fullCalendar({
		  header: false, // No top title header
		  defaultView: 'agendaWeek', // Week view
		  allDaySlot: false, // No all day events
		  minTime: 7, // Calendar starts at 8am
		  maxTime: 22, // Calendar goes up to 10pm
		  weekends: false, 
		  //aspectRatio: 5, // Make calendar more horizontally compact
		  columnFormat: 'ddd', // hide number of day and month
		  year: 2013,
		  month: 8,
		  date: 7,
		  height: 670,
			// eventRender: function(event, element) {
			// 	element.qtip({
			// 		content: event.description
			// 	});
			// }
		  events : [
		  ]
		})
	  $('#calendar').fullCalendar( 'addEventSource', nate);
	  });
	</script>
{% endblock %}