{% extends "layout.html" %}
{% block content %}
    <div class="well">
      <h1>Instructions</h1>
	<ol><h4>
	    <li><h4>Go to <a href="http://www.upenn.edu/pennintouch" target="_blank">PennInTouch</a></h4>
	      <p><small>Log in with your personal PennKey</small></p>
	    </li>
	    <li><h4>Go to <em>View schedule</em></h4>
	      <p><small><em>View schedule</em> is under <em>Registration &amp; planning</em></small></p>
	      <p><img src="/static/img/hfIr94p.png" alt=""></p>
	  </li>
	    <li><h4>Click <em>Export as iCalendar</em> and save the file</h4>
	      <p><small>Small print under the schedule; remember where you're saving the files for later!</small></p>
	      <p><img src="/static/img/WEGK7Iu.png" alt=""></p>
	    </li>
	  <li><h4>Repeat process for each friend :)</h4></li>
	</h4></ol>
      <div class="text-center">
	<a href="upload" class="btn btn-lg btn-primary">Ready?</a>
      </div>
    </div>
  </div>
{% endblock %}