{% extends "layout.html" %}
{% block content %}
<style>
.name {
	padding-top: 15px;
}
@media (min-width: 1170px) {
	.name {
		padding-bottom: 30px;
	}
}
</style>
    <div class="well">
      <div class="text-center">
	<h1>Upload</h1>
	<div class="row"><div class="col-md-6 col-md-offset-3"><form action="" method="POST" enctype="multipart/form-data">
	  <div class="inputs" style="padding-bottom:15px;">
	    <div class="form-group name">
	      <input type="text" class="form-control col-lg-4" placeholder="Name" name="fullname-1">
	    </div>
	    <div class="fullname"><input style="margin:0 auto;" class="btn btn-primary" type="file" name="file-1"></div>
	  </div>
	  <input type="hidden" name="id" id="numElements" value="" />
	  <a class="btn btn-success btn-add">Add user</a>
	  <input class="btn btn-primary" type="submit" value="Submit">
	</form>
	</div></div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
	<script>
	  id = 1;
	  $(".btn-add").click(function() {
	    id++;
	    document.getElementById('numElements').value = id;
	  $("<div class='form-group name'><input type='text' class='form-control col-lg-4' placeholder='Name' name='fullname-" + id + "'></div><input style='margin:0 auto;' class='btn btn-primary fullname' type='file' name='file-" + id + "'>").appendTo(".inputs")
	  });
	</script>
{% endblock %}